/*setup your .grid with display flex and flex wrap*/
/*setup your .col with padding */
/*setup your .content with padding */
/*setup your .w-1of4 widths with flex:0 0 25%; */
/*setup your additional grid withds as you need them */

.grid {
	display:flex;
	flex-wrap:wrap;
}

.col {
	padding:0px;
}

.content {
	padding:0px;
	z-index:-1;
}

.content-1 {
	padding:10px;
	text-align:center;
	z-index:3;
}

.content-2 {
	padding:10px;
	text-align:center;
	margin-left:50vw;
	z-index:1;
	background-color:#f2f2f2;
}

.w-1of2 {
	flex:0 0 50%;
}

.w-1of4 {
	flex:0 0 25%;
}

.w-1of3 {
	flex:0 0 33.3%;
}